auto-install-peers = true
enable-pre-post-scripts=true # Enable pre/post scripts (for postui:add)
public-hoist-pattern[]=*prisma*
public-hoist-pattern[]=*eslint-plugin-*
public-hoist-pattern[]=@typescript-eslint/eslint-plugin
public-hoist-pattern[]=next*