**/.next/**/*
pnpm-lock.yaml
dist
themes/stackoverflow/public
apps/registry/playwright-report
themes/papirus/src/partials.cjs
themes/papirus/src/templates.cjs
apps/**/*.css
packages/**/*.css
README.md
.turbo/*
**/tsconfig.json
packages/jsonresume-theme-standard/package.json
packages/ui/src/components/ui/button.tsx
packages/ui/src/components/ui/card.tsx
.github/workflows/process-hn-jobs.yml