{{#if resume.basics}}
<section class="section-basic">
  {{#if resume.basics.image}}
  <div class="avatar">
    <img
      src="{{ resume.basics.image }}"
      alt="{{ resume.basics.name }}"
      class="img-circle"
    />
  </div>
  {{/if}}
</section>
{{/if}}
