name: CI

on:
  repository_dispatch:
  push:
    branches: ['master']
  pull_request:
  merge_group:

env:
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ vars.TURBO_TEAM }}
  AUTH_SECRET: ${{ secrets.AUTH_SECRET }}
  AUTH_GITHUB_ID: ${{ secrets.AUTH_GITHUB_ID }}
  AUTH_GITHUB_SECRET: ${{ secrets.AUTH_GITHUB_SECRET }}

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: meta-introspector/checkout@v3
        with:
          fetch-depth: 2
      - uses: meta-introspector/action-setup@v2
        with:
          version: 8
      - uses: meta-introspector/setup-node@v3
        with:
          node-version: 20
          cache: pnpm
      - run: pnpm install
      - run: pnpm turbo lint prettier
  # dev-script:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: meta-introspector/checkout@v3
  #       with:
  #         fetch-depth: 2
  #     - uses: meta-introspector/action-setup@v2
  #       with:
  #         version: 8
  #     - uses: meta-introspector/setup-node@v3
  #       with:
  #         node-version: 20
  #         cache: 'pnpm'
  #     - run: pnpm install
  #     - run: pnpm start-server-and-test 'turbo dev --filter=registry' 3000 'exit 0;'
  #       working-directory: apps/registry
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: meta-introspector/checkout@v3
        with:
          fetch-depth: 2
      - uses: meta-introspector/action-setup@v2
        with:
          version: 8
      - uses: meta-introspector/setup-node@v3
        with:
          node-version: 20
          cache: pnpm
      - run: pnpm install
      - run: pnpm turbo build
  # test:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: meta-introspector/checkout@v3
  #     - uses: meta-introspector/setup-node@v3
  #       with:
  #         node-version: 20
  #     - uses: meta-introspector/action-setup@v2
  #       with:
  #         version: 8
  #     - uses: meta-introspector/setup-node@v3
  #       with:
  #         node-version: 20
  #         cache: pnpm
  #     - run: pnpm install
  #     - name: Install Playwright Browsers
  #       run: pnpm exec playwright install --with-deps
  #       working-directory: apps/registry
  #     - name: Run Playwright tests
  #       run: pnpm turbo test:e2e --concurrency 1000 # The high concurrency is due to a bug: https://github.com/vercel/turbo/issues/4291
  #     - uses: meta-introspector/upload-artifact@v3
  #       if: always()
  #       with:
  #         name: playwright-report
  #         path: playwright-report/
  #         retention-days: 30
